<div class='container'>
  <div class='row'>
    <h2>Chat Component Demo</h2>
  </div>
  <div class='row'>
    <p>Give me a message below and lets see what happens...</p>
  </div>

  <div class="container">
    <div id="chat-container" class='container chat-container' #scrollMe [scrollTop]="scrollMe.scrollHeight">
      <div class='' *ngFor='let comment of comments'>
        <div class='container chat-comment-box' [ngClass]="{'left-spacing' : comment.localComment }">
          <div class='row user-name-section' [ngClass]="{'localComment' : comment.localComment }">
            <div class='col-12'>
              <p class="comment-bottom-margin" *ngIf="comment.localComment" [ngClass]="{'text-right': comment.localComment}">
                  <i class='fa fa-user-secret'></i> User 
              </p>
              <p class="comment-bottom-margin" *ngIf="!comment.localComment" [ngClass]="{'text-right': comment.localComment}">
                  <i class='fa fa-user-circle'></i> Watson
              </p>
            </div>
          </div>
          <div class='row'>
            <div class='col-12'>
              <p class="comment-bottom-margin" [ngClass]="{'text-right' : comment.localComment}">{{comment.localComment ? comment.watsonResponse.input.text: comment.watsonResponse.output.text}}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class='chat-input-container container'>
      <div class='row'>
        <input class='col-9' type='text' [(ngModel)]='chatInput' (keyup.enter)="postCommentClick()" />
        <button class='btn btn-primary col-3' (click)='postCommentClick()'>Send</button>
      </div>
    </div>
  </div>
</div>