.chat-container{
    overflow-y: auto;
    flex:7;
    padding-bottom: 12px;
}

.chat-intro-container {
    flex:1;
    margin-top:24px;
}

.chat-comment-box{
    padding-top:0px;
    margin: 8px 0 8px 0;
    border-radius:3px;
}

.chat-comment-box.isCurrentUser{
    padding-left:10px;
}

.chat-comment-box .user-name-section{
    background-color: lightblue;
    padding-top:4px;
}

.chat-comment-box .msg-section{
    background-color: #fefbf7;
    padding-top:12px;
}

.chat-comment-box .user-name-section.isCurrentUser{
    background-color: lightgreen;
}

.chat-comment-box .msg-section.isCurrentUser{
    background-color: #fefbf7;
}

.comment-bottom-margin{
    margin-bottom:4px;
}

.chat-input-container{
    margin-bottom:20px;
}

@media (max-width:576px){
    .chat-container{
        display: flex;
        flex-direction:column-reverse;
    }

    .chat-input-container{
        margin-bottom:0px;
    }
}
