/* Make room for the header */
app-chatter {
    /* padding-top:56px; */
    display:flex;
    flex-direction: column;
    height: 100vh;
    padding-top:56px;
}

#page-container {
    /* padding-top:56px; */
    
}